@import "tailwindcss";

/* ===== Variables globales ===== */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===== Scroll suave ===== */
html {
  scroll-behavior: smooth;
}

/* ===== Botón focus (para consistencia cross-browser) ===== */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}